.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card {
    max-width: 300px;
    box-shadow: 0 4px 0 rgb(0 0 0 /20%);
}

.image {
    max-width: 608px;
    max-height: 1080px;
}