.main {
    
    width:100%;
    height:auto;
}
.masterhead {
    background: no-repeat center center;
    position: relative;
    top:0;
    left:0;
    width:100%;
    height: 40vh;
    background-color: #868e96;
    background-attachment: scroll;
    background-size: cover;
    z-index: 1;
}

.mat {
    position: absolute;
    top: 28vh;
    left: 0;
    width: 100%;
    height : 80%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 2;
}

.mat-titre {
    display:inline-block;
    font-size: 2em;
    line-height: 1em;
}

.sous-titre {
    margin-top: 2%;;
}

.corps-article img {
    width:200px;
    height: auto;
}

@media (max-width: 600px) {
    .mat {
        height: 105%;
    }
}
