<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">PascalGym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="blog-list">Blog</a>
        </li>

        <li *ngIf="estCo" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
          <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ajouter image</a>
            <a class="dropdown-item" routerLink="blog-creer">Créer blog</a>
            <div class="dropdown-divider"></div>
            <a [hidden]="!estCo" class="dropdown-item" routerLink="log" (click)="deco();">Deconnexion</a>
          </div>
        </li>

        <li class="nav-item">
          <button [hidden]="estCo" class="btn btn-primary" routerLink="log" (click)="checkCo();">Connexion</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
