.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav {
  background-color: #fff;
  color: #000;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu {
  font-family: "Google Sans Display", Roboto, Arial, Helvetica, sans-serif;
  font-size: .875rem;
  font-weight: 400;
}

.menu-element {
  padding: 0 20px;
  color: #5f6368;
  //font-size: 0.8em;
}

.menu-element:hover {
  color: black;
}

.menu-element::after ::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}
