<div class="container bg-light">
    <form [formGroup]="formMedia" (ngSubmit)="ajouterPhoto()">
        <h2 class="display-2">Ajouter des photos dans l'espace média :</h2>
        <mat-form-field appearance="fill">
            <mat-label>Nom de l'image</mat-label>
            <input formControlName="nom" matInput type="text" required>
        </mat-form-field>
        <br>
        <input formControlName="image" (change)="onChange($event)" accept="image/jpg, image/png, image/gif" type="file" required>
        <br>
        <br>
        <button [disabled]="!formMedia.valid" mat-raised-button class="btn">Envoyer </button>
        <br>

        <div [hidden]="!doitEnvoyer">
            <br>
            <p>Envoie :</p>
            <mat-progress-bar mode="determinate" value="{{ pourcentageEnvoie | async}}"></mat-progress-bar>
        </div>
    </form>
    <br>
    <br>

    <mat-divider></mat-divider>

    <h2 class="display-2">Resultat: </h2>

    <figure class="hover-rotate">
        <img [src]="url" height="200" alt="Exemple">
    </figure>
</div>