// Home image
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  //margin-bottom: 25px;

  .image-background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.home-accueil {
  height: 600px;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.image-background {
  background-image: url('/assets/photo-home.png');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100%;
}

.home-titre {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  h1 {
    //font-size: 2.5em;
    font-size: 2.5em;
    letter-spacing: 0;
    line-height: 2.5rem;
  }
}

.bulle-titre {
  padding: 1%;
  border-radius: 20px;

}

// apres home
.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 50px;

  // Pour afficher une demo avec un tel
  .phone-demo {
    height: 653px;
    width: 324px;
    background: transparent url(/assets/pixel3.webp) no-repeat center/100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: 40px 10px 0;
  text-align: center;
}

.content-titre {
  margin-top: 0;
  color: #202124;
  font-family: "Google Sans Display", Roboto, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  margin: .67em 0;
}

.content-corps {
  max-width: 950px;
  color: #5f6368;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.625rem;
  margin: 0 10px 20px;
}

.reveal {
  animation: .8s ease 0s 1 normal forwards revealFadeIn;
}

@keyframes revealFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Image pour decrire les parties du site
.img-selection {
  margin: auto;
  width: 30%;
  height: auto;
}

.img-selection:hover {
  width: 32%;
}

.text {
  font-size: 2em;
}

.lien {
  margin-top: 2%;
  background-color: black;
  color: white;
}


.image-container {
  position: relative;
}

.image-bg {
  display: block;
  margin: 0 0 20px;
  max-height: 375px;
  overflow: hidden;
  width: 100%;
  align-self: center;
}

.card:hover {
  transform: scale(1.02);
}

// Autre

*::after ::before {
  box-sizing: border-box;
}

.action {
  font-size: 1.3em;
}

@media only screen and (min-width: 600px) {

  .home-accueil {
    height: 800px;
  }

  .content {
    margin: 50px 10px 0;
  }
}
