<div class="container-fluid p-3">
  <h3>Les differents articles :
  </h3>
  <table mat-table [dataSource]="lesPosts" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>


    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description | tronc:['20'] }} </td>
    </ng-container>


    <ng-container matColumnDef="corps">
      <th mat-header-cell *matHeaderCellDef> Corps </th>
      <td mat-cell *matCellDef="let element"> {{element.corpsBlog | tronc:['60'] }} </td>
    </ng-container>

    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> {{element.image | tronc:['20'] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </table>

  <br>
  <button mat-raised-button color="warn" (click)="supprimer()">Supprimer</button>
  <button mat-raised-button color="primary">Modifier</button>
  <hr>
</div>
